.footer {
    margin-top: 8rem;
    text-align: center;
    background-color: #212121;
    padding: 4rem 0;
}

.footer h2{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer .container p{
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
}

.footer .container strong{
    color: #00DF5E;
}
